.ganttVerticalContainer {
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0;
  margin: 0;
  padding: 0;
  /*noinspection CssUnresolvedCustomProperty*/
  border-right: 1px solid var(--gantt-calendar-divider-color, var(--gantt-divider-color));
  flex-grow: 1;
  /*noinspection CssUnresolvedCustomProperty*/
  scrollbar-color: var(--gantt-scrollbar-thumb-color, rgba(0, 0, 0, 0.2)) transparent;
}

.ganttVerticalContainer::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  position: relative;
  /*noinspection CssUnresolvedCustomProperty*/
  border-bottom: 1px solid var(--gantt-divider-color);
}

.calendarDragging {
  cursor: grabbing;
}
