.scroll {
  overflow: hidden auto;
  width: 1rem;
  flex-shrink: 0;
  /*noinspection CssUnresolvedCustomProperty*/
  scrollbar-color: var(--gantt-scrollbar-thumb-color, rgba(0, 0, 0, 0.2)) transparent;
  /*firefox*/
  /*scrollbar-width: auto;*/
}

.scroll::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
