.taskListRoot {
  position: relative;
  /*noinspection CssUnresolvedCustomProperty*/
  border-left: 1px solid var(--gantt-table-divider-color, var(--gantt-divider-color));
  display: flex;
  flex-direction: column;
}

.taskListHorizontalScroll {
  overflow-y: hidden;
  overflow-x: scroll;
  flex-grow: 1;
  flex-shrink: 1;
  /*noinspection CssUnresolvedCustomProperty*/
  scrollbar-color: var(--gantt-scrollbar-thumb-color, rgba(0, 0, 0, 0.2)) transparent;
  display: flex;
  flex-direction: column;
}

.taskListHorizontalScroll::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

.taskListResizer {
  position: absolute;
  top: 0;
  right: -3px;
  height: 100%;
  width: 6px;
  cursor: ew-resize;
  user-select: none;
  z-index: 3;
}

/*noinspection CssUnresolvedCustomProperty*/
.taskListResizer:hover {
  background-color: var(--gantt-table-hover-action-color);
  filter: var(--gantt-hover-filter);
}

.taskListResizer:hover::before {
  display: none;
}

.taskListResizer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  height: 100%;
  width: 1px;
  /*noinspection CssUnresolvedCustomProperty*/
  background-color: var(--gantt-table-resize-color, var(--gantt-divider-color));
}

.horizontalContainer {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tableWrapper {
  position: relative;
  flex-shrink: 1;
  flex-grow: 1;
}

.scrollToTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.scrollToBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.hidden {
  display: none;
}
